.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-title {
  max-width: 60%;
  text-align: left;
  color: var(--blue);
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact-form {
  max-width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg-contact {
  position: absolute;
  top: -464px;
  right: -400px;
}

.cf-text:focus,
.cf-area:focus {
  color: var(--blue);
}

.cf-text:focus::-webkit-input-placeholder,
.cf-area:focus::-webkit-input-placeholder {
  color: var(--blue);
}

.cf-text:focus:-ms-input-placeholder,
.cf-area:focus:-ms-input-placeholder {
  color: var(--blue);
}

.cf-text:focus::-ms-input-placeholder,
.cf-area:focus::-ms-input-placeholder {
  color: var(--blue);
}

.cf-text:focus::placeholder,
.cf-area:focus::placeholder {
  color: var(--blue);
}

.contact-form .cf-text:focus ~ .cf-hr {
  background-color: var(--blue);
}

.contact-form .cf-area:focus ~ .cf-hr {
  background-color: var(--blue);
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cf-hr {
  margin-top: 1em;
  margin-bottom: 1em;
  min-width: 100%;
}

.cf-text,
.cf-area {
  border: none;
  background-color: transparent;
  color: var(--light-blue);
}

.cf-text::-webkit-input-placeholder,
.cf-area::-webkit-input-placeholder {
  color: var(--light-blue);
}

.cf-text:-ms-input-placeholder,
.cf-area:-ms-input-placeholder {
  color: var(--light-blue);
}

.cf-text::-ms-input-placeholder,
.cf-area::-ms-input-placeholder {
  color: var(--light-blue);
}

.cf-text::placeholder,
.cf-area::placeholder {
  color: var(--light-blue);
}

.cf-text:focus,
.cf-area:focus {
  outline: none;
}

.cf-area {
  resize: none;
}

.cf-error .cf-text,
.cf-error .cf-area {
  color: var(--charm-pink);
}

.cf-error .cf-text::-webkit-input-placeholder,
.cf-error .cf-area::-webkit-input-placeholder {
  color: var(--charm-pink);
  opacity: 1;
}

.cf-error .cf-text:-ms-input-placeholder,
.cf-error .cf-area:-ms-input-placeholder {
  color: var(--charm-pink);
  opacity: 1;
}

.cf-error .cf-text::-ms-input-placeholder,
.cf-error .cf-area::-ms-input-placeholder {
  color: var(--charm-pink);
  opacity: 1;
}

.cf-error .cf-text::placeholder,
.cf-error .cf-area::placeholder {
  color: var(--charm-pink);
  opacity: 1;
}

.cf-error .cf-hr {
  margin-bottom: 0em;
  background-color: var(--charm-pink);
}

.cf-error .cf-text:focus ~ .cf-hr {
  background-color: var(--charm-pink);
}

.cf-error .cf-area:focus ~ .cf-hr {
  background-color: var(--charm-pink);
}

.cf-error p {
  text-align: left;
  margin-top: 0em;
  margin-bottom: 1em;
  color: var(--charm-pink);
  font-size: 11px;
}

.cf-no-error p {
  display: none;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.newsletter-label {
  width: 24px;
  height: 24px;
}

.newsletter-label input {
  position: absolute;
  opacity: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 1;
}

.newsletter-label .newsletter-custom {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: var(--light-blue);
}

.newsletter-label .newsletter-custom img {
  display: none;
}

.newsletter-label input:checked ~ .newsletter-custom {
  background-color: var(--dark-pink);
}

.newsletter-label input:checked ~ .newsletter-custom img {
  display: block;
  margin-top: 6.5px;
  margin-left: 5px;
}

.newsletter-label input:checked ~ .newsletter-custom img svg {
  stroke: white;
}

.newsletter-p {
  margin-left: 2em;
  color: var(--blue);
}

.cf-submit {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.contact-partners {
  margin-top: -5em;
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cp-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cp-h4 {
  text-align: left;
  color: var(--blue);
}

.cp-grid {
  min-width: 100%;
}

.svg-blue {
  -webkit-filter: brightness(0) saturate(100%) invert(29%) sepia(16%) saturate(1169%) hue-rotate(165deg) brightness(96%) contrast(91%);
          filter: brightness(0) saturate(100%) invert(29%) sepia(16%) saturate(1169%) hue-rotate(165deg) brightness(96%) contrast(91%);
}

@media screen and (max-width: 980px) {
  .bg-contact {
    right: -480px;
  }
  .contact-title {
    max-width: 100%;
    text-align: center;
  }
  .contact-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #contact-form {
    max-width: 80%;
  }
  .contact-partners {
    margin-top: 1em;
    margin-bottom: 3em;
  }
  .cp-h4 {
    text-align: center;
  }
}

@media screen and (max-width: 580px) {
  .bg-contact {
    top: -550px;
    right: -550px;
  }
}
/*# sourceMappingURL=contact.css.map */