.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 252px;
}

.ready {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ready-title {
  color: var(--blue);
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0px 2px 4px #dddddd;
          box-shadow: 0px 2px 4px #dddddd;
}

.email-field {
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: none;
  background-color: white;
  outline: none;
  color: var(--blue);
}

.email-button {
  border: none;
  border-radius: 2em;
  margin-left: -2em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: var(--dark-pink);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  color: var(--link);
  font-weight: bold;
  cursor: pointer;
}

.email-button:hover {
  background-color: var(--charm-pink);
}

.footbar {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: var(--dark-blue);
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.bg-footbar {
  position: absolute;
  bottom: -550px;
  right: -400px;
}

.footbar-layout {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footbar-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footbar-links {
  margin-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footbar-link {
  margin-left: 2em;
  opacity: 0.825;
  text-decoration: none;
  color: var(--link);
  font-family: var(--sans-serif);
  font-weight: 500;
  cursor: pointer;
}

.footbar-link:hover {
  opacity: 1;
}

.footbar-icon {
  margin-left: 1em;
  cursor: pointer;
}

.footbar-icon:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(57%) sepia(15%) saturate(1773%) hue-rotate(287deg) brightness(92%) contrast(85%);
          filter: brightness(0) saturate(100%) invert(57%) sepia(15%) saturate(1773%) hue-rotate(287deg) brightness(92%) contrast(85%);
}

@media screen and (max-width: 768px) {
  .ready {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ready-title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .footbar-links {
    margin-left: 0em;
  }
  .footbar-link {
    margin-left: 1em;
  }
}

@media screen and (max-width: 540px) {
  .bg-footbar {
    bottom: -600px;
    left: calc(50vw - 390px);
  }
  .ready {
    margin-top: 0em;
    margin-bottom: 4em;
  }
  .email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .email-field {
    border-radius: 2em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: calc(100% - 4em);
    -webkit-box-shadow: 0px 2px 4px #dddddd;
            box-shadow: 0px 2px 4px #dddddd;
  }
  .email-button {
    margin-left: 0em;
    padding-left: 0em;
    padding-right: 0em;
    width: 100%;
  }
  .footbar-layout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footbar-1 {
    margin-top: 1em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footbar-links {
    margin: 0em;
    margin-top: 1em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footbar-link {
    margin: 1em;
  }
  .footbar-2 {
    position: relative;
    margin-bottom: 1em;
  }
  .footbar-icon {
    margin: 1em;
  }
}
/*# sourceMappingURL=footer.css.map */