.navbar {
  margin-top: 2em;
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-links {
  margin-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-link {
  margin-left: 2em;
  text-decoration: none;
  color: var(--light-blue);
  font-family: var(--sans-serif);
  font-weight: 500;
  cursor: pointer;
}

.navbar-link:hover {
  color: var(--blue);
}

.navbar-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-button,
.menu-button {
  border: none;
  border-radius: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: var(--dark-pink);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  color: var(--link);
  font-weight: bold;
  cursor: pointer;
}

.navbar-button {
  margin-left: -2em;
  padding-left: 2em;
  padding-right: 2em;
}

.menu-button {
  margin-top: 1em;
  width: 100%;
}

.navbar-button:hover,
.menu-button:hover {
  background-color: var(--charm-pink);
}

.menu-open {
  display: none;
  border: none;
  padding: 0em;
  background-color: transparent;
}

.menu {
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: var(--dark-blue);
  min-width: 300px;
  min-height: 100vh;
  display: none;
  overflow: hidden;
  z-index: 10;
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
  -webkit-transition: -webkit-transform 350ms ease;
  transition: -webkit-transform 350ms ease;
  transition: transform 350ms ease;
  transition: transform 350ms ease, -webkit-transform 350ms ease;
}

.menu-layout {
  margin-top: 2em;
  min-width: calc(100% - 4em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-layout .navbar-link {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0em;
  text-align: center;
  color: var(--link);
  opacity: 0.825;
}

.menu-layout .navbar-link:hover {
  opacity: 1;
}

.menu-close {
  border: none;
  background-color: transparent;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
}

.menu-hr {
  margin-top: 1em;
  margin-bottom: 2em;
  min-width: 100%;
}

.menu-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (max-width: 768px) {
  .navbar-links {
    margin-left: 0em;
  }
  .navbar-link {
    margin-left: 1em;
  }
}

@media screen and (max-width: 610px) {
  .nbl-container {
    display: none;
  }
  .navbar-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-button {
    display: none;
  }
  .menu-open {
    display: block;
    cursor: pointer;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 300px) {
  .menu {
    min-width: 100vw;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
}
/*# sourceMappingURL=nav.css.map */