.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.bg-pricing {
  position: absolute;
  top: -464px;
  right: -400px;
}

.pricing-layout {
  display: flex;
  flex-direction: column;
}

.pricing-title {
  text-align: left;
  color: var(--blue);
}

.offer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.offer {
  text-align: left;
  color: var(--light-blue);
}

.offer-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.offer-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.offer-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.offer-content {
  max-width: calc(100% - 2em);
}

.offer-name {
  color: var(--dark-pink);
}

.offer-p {
  margin-top: 5px;
  margin-bottom: 5px;
  max-height: 4em;
  min-height: 4em;
}

.offer-price {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  color: var(--blue);
}

.hr {
  border: none;
  background-color: var(--light-blue);
  height: 1px;
  opacity: 0.5;
}

.pricing-features {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: calc(22px);
  text-align: left;
}

@media screen and (max-width: 1210px) {
  .offer-p {
    max-height: 6em;
    min-height: 6em;
  }
}

@media screen and (max-width: 1100px) {
  .bg-pricing {
    right: -480px;
  }

  .pricing-title {
    text-align: center;
  }

  .offer-content {
    max-width: calc(100% - 0.5em);
    text-align: center;
  }

  .hr {
    max-width: calc(100% - 3.5em);
  }

  .pricing-features {
    align-items: center;
  }
}

@media screen and (max-width: 712px) {
  .offer-content {
    max-width: calc(100%);
    text-align: center;
  }

  .hr {
    max-width: calc(100% - 4em);
  }
}

@media screen and (max-width: 689px) {
  .offer-p {
    max-height: 7em;
    min-height: 7em;
  }
}

@media screen and (max-width: 580px) {
  .bg-pricing {
    top: -550px;
    right: -550px;
  }

  .offer-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .offer {
    min-width: calc(100% - 2em);
  }

  .offer-content {
    min-width: calc(100%);
  }

  .offer-p {
    display: none;
  }
}

.pricing-feature {
  width: 6em;
}

.pricing-feature::marker {
  content: "";
}

.available {
  color: var(--blue);
}

.marker {
  position: absolute;
  margin-top: 0.5em;
  margin-left: -1.5em;
  filter: brightness(0) saturate(100%) invert(34%) sepia(23%) saturate(1639%)
    hue-rotate(285deg) brightness(102%) contrast(92%);
}
